:root {
  --gradient-color:linear-gradient(341deg, #0093E9 0%, #9ae9f7 100%);
  --section-color: rgb(169, 238, 255);
  --light-section:rgb(225, 249, 255);
  --border-color: rgba(23, 35, 196, 0.418);
  --box-shadow:rgb(20, 45, 51);
  --box-shadow-hover:rgb(223, 220, 9);
}

* {
  box-sizing: border-box;
  
}

.navbar-custom {
  background-color: var(--section-color);
}

body {
  background-image: var(--gradient-color);
  height:99vh;
}

.foodlist li {
  border: solid;
  border-color: var(--border-color);
  border-radius: 5px;
  background-color:var(--section-color);
  padding: 5px;
  margin: 3px;
}

img{
  border: 2px solid var(--border-color);
  border-radius: 1px;
}
.foodlist li button {
  margin-top: 5px;
  border-radius: 6px;
  background-color: #0093E9;
  background-image: linear-gradient(341deg, #0093E9 0%, #80D0C7 100%);
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

ul li button:hover {
  box-shadow: 0 3px 8px var(--box-shadow-hover);
}

#foodcard {
  padding: 10px;
  margin-right: 10px;
}

header {
  border: solid;
  border-color: var(--border-color);
  background-color: var(--section-color);
  text-decoration: solid;
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--box-shadow);
  margin: 10px;
  margin-right: 5%;
}

#dailytotal {
  float: right;
  width: 60%;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-right: 5%;
  border-radius: 10px;
  border: solid;
  border-color: var(--border-color);
  background-color: var(--section-color);
  text-decoration: solid;
  box-shadow:  10px 5px 5px var(--box-shadow);
}

#search-container {
  float: left;
  width: 25%;
  height: fit-content;
  border-radius: 10px;
  border: solid;
  border-color: var(--border-color);
  background-color: var(--section-color);
  text-decoration: solid;
  box-shadow: 10px 5px 5px  var(--box-shadow);
  margin-top: 10px;
  margin-left: 10px;
}

#card-container {
  float: right;
  width: 60%;
  height: fit-content;
  padding: 10px;
  margin-right: 5%;
  border-radius:10px;
  border: solid;
  border-color: var(--border-color);
  background-color: var(--section-color);
  text-decoration: solid;
  box-shadow:  10px 5px 5px  var(--box-shadow);
  margin-top: 10px;
  margin-left: 10px;
  }

.card{
  background-color: var( --light-section);
}
  
.pexel-img {
  display:flex;
  flex-direction: column;
  }